body {
	background: #FFA69E;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}

#title, .subtitle, .post_title {
	color: #764248;
}

#title {
	font-size: 40px
}
a {
	text-decoration: line-underline;
	color: #587792;
}

.post_title {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15 px;
	
}
.post_content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
	
}
.post {
	background: #FAF3DD;
	padding: 15px;
	border-radius: 1%;
	border: 3px unset #764248;
	margin-bottom: 15px;
}

.post_image {
	margin-bottom: 15px;
	width: 100%;
}


.contacts_list {
	font-weight: bold;
	list-style-type: square;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #FAF3DD;
}

.photo {
	border: 10px solid #FAF3DD;
	border-radius: 50%;
}

